<h3>My Story</h3>
  <div class="info">
  <p>I went to EHS for my last two years of high school and graduated in 2007. I went to the College of Charleston for a couple years and graduated from UNC-CH with a B.A. in Philosophy. After college, I taught </p>
</div>