<div class="content">
  <h3>Summary</h3>
  <div class="info">
    <p>I love what I do for work and want others to have that same feeling. I'm here today to tell you why I think you should go into software development.</p>
  </div>
  <h3>My Story</h3>
    <div class="info">
    <p>I went to EHS for my last two years of high school and graduated in 2007. I went to the College of Charleston for a couple years and graduated from UNC-CH with a B.A. in Philosophy. After college, I taught </p>
  </div>
  <h3>Diverse Backgrounds</h1>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Impostor Syndrome</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Specializations</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Working with People</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Opportunities</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Challenges</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
  <h3>Fulfillment</h3>
    <div class="info">
    <p>This is some text about something. And some more. Then some more...and more.</p>
  </div>
</div>