<div class="menu">
  <p>Sections</p>
  <ul class="links">
    <li>Summary</li>
    <li>My Story</li>
    <li>Backgrounds</h1>
    <li>Impostor Syndrome</li>
    <li>Specializations</li>
    <li>Working with People</li>
    <li>Opportunities</li>
    <li>Challenges</li>
    <li>Fulfillment</li>
  </ul>
</div>